* {
  box-sizing: $box-sizing;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

div#__layout {
  background: #f8f9ff;
  height: 100vh;
}

.container {
  box-sizing: $box-sizing;
  width: 80.29%;
  margin: auto;
  font-family: "Roboto";
  align-items: center;
}

.card-header {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
  text-transform: capitalize;
  word-wrap: break-word;
  line-height: 28px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card {
  position: relative;
  min-height: 163px;
  width: 31%;
  border-radius: $border-radius;
  border: 1px solid #dde2ff;
  padding: 15px 15px 52px;
  box-sizing: $box-sizing;
  margin: 3.5% 3.5% 0% 0%;
  background: #ffffff;

  textarea {
    border: 3px solid #d1d8ff;
    height: 80px;
    width: 100%;
    border-radius: $border-radius;
    box-sizing: $box-sizing;
    resize: none;
  }
}

.success {
  background: #0bc475 !important;
  font-family: "Roboto";
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.error {
  background: #e85f5f !important;
  font-family: "Roboto";
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.card-footer {
  display: flex;
  position: absolute;
  bottom: 14px;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  button {
    border-radius: $border-radius;
    border: 1px solid #dde2ff;
    background: #ffffff;
    height: 36px;
    width: 91px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}
.delete-icon,
.tick-icon,
.pencil-icon {
  cursor: pointer;
}

.swal-overlay {
  background-color: transparent;
}
.swal-modal {
  background-color: #0bc375;
  border-radius: $border-radius;
  position: absolute;
  height: 60px;
  top: 90px;
  left: 0px;
  right: 0px;
  //width: 390px;
  display: inline-block;
}
.swal-text {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.swal-text:first-child {
  margin-top: 16px;
}

select {
  border-radius: 5px;
  border: 3px solid #d1d8ff;
}
section.task-container {
  padding-bottom: 29px;
}
/** Responsive Design **/
@media only screen and (max-width: 1023px) {
  .container {
    width: 90%;
  }
  .card {
    width: 48.25%;
  }
  .card:nth-child(2n + 1) {
    margin-right: 3.5%;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 641px) {
  .card {
    width: 100%;
    margin: auto;
  }
  .card:nth-child(2n + 1) {
    margin: 4% auto 0%;
  }
  .card:nth-child(2n) {
    margin: 4% auto 0%;
  }
}

// mobile scren
@media only screen and (max-width: 481px) {
  .swal-modal {
    width: 80%;
  }
  .swal-text {
    margin-left: 0;
  }
}

@media only screen and (max-width: 321px) {
  .swal-modal {
    width: 80%;
    padding: 0;
    height: 50px;
  }
  .swal-text {
    font-size: 14px;
  }
}
